body, html{
    scroll-behavior: smooth;
    overflow-x: hidden;
    // overflow-y: auto;
    background-color: #FCFCFC;
}

.container{
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
}