//variaveis do grid
$lll-device: 1921px; //large
$ll-device: 1440px; //large
$l-device: 1366px; //large
$mx-device: 1200px; //large
$mm-device: 992px; //mediums
$m-device: 1024px; //mediums
$t-device: 768px;
$s-device: 540px; //small
$ss-device: 330px; //small small

//mixin media querie

@mixin d($size) {
  @if $size== ll {
    @media screen and (min-width: $ll-device) {
      //acima do medio
      @content;
    }
  }
  @else if $size==l {
    @media screen and (min-width: $l-device) {
      //acima do medio
      @content;
    }
  } @else if $size==lll {
    @media screen and (min-width: $lll-device) {
      //acima do medio
      @content;
    }
  } @else if $size==m {
    @media screen and (max-width: $m-device ) {
      //abaixo do medio
      @content;
    }
  } @else if $size==t {
    @media screen and (max-width: $t-device ) {
      //abaixo do medio
      @content;
    }
  }
  @else if $size==mx {
    @media screen and (max-width: $mx-device) {
      //abaixo do medio
      @content;
    }
  }
  @else if $size==mm {
    @media screen and (max-width: $mm-device ) {
      //abaixo do medio
      @content;
    }
  }
  
  @else if $size==s {
    @media screen and (max-width: $s-device - 1) {
      @content;
    }
  } @else if $size==ss {
    @media screen and (max-width: $ss-device - 1) {
      @content;
    }
  }
}
