body {
    --cor-branco: #ffffff;
    --cor-primary: #FF8D00;
    --cor-c1: #F8F9FA;
    --cor-c2: #F1F3F5;
    --cor-c3: #E9ECEF;
    --cor-c4: rgba(222, 226, 230, 1);
    --cor-c6: #ADB5BD;
    --cor-c7: #868E96;
    --cor-c8: #495057;
    --cor-c9: #343A40;
    --cor-c10: #212529;
    --cor-c11: #070C17;
}

$cor-branco:#{var(--cor-branco)};
$cor-primary:#{var(--cor-primary)};
$cor-c1:#{var(--cor-c1)};
$cor-c2:#{var(--cor-c2)};
$cor-c3:#{var(--cor-c3)};
$cor-c4:#{var(--cor-c4)};
$cor-c6:#{var(--cor-c6)};
$cor-c7:#{var(--cor-c7)};
$cor-c8:#{var(--cor-c8)};
$cor-c9:#{var(--cor-c9)};
$cor-c10:#{var(--cor-c10)};
$cor-c11:#{var(--cor-c11)}; 