
.intro-bg{
    background-color: $cor-c11;
}

.introducao-bg{
    background-color: $cor-c11;
    box-shadow: inset 0 -80px #ffffff;
}



#header{
    .header{
        display: flex;
        align-items: center;
        gap: 240px;
    }
    
    #menu{
        display: flex;
        
      li{
        color: $cor-branco;
        padding: 40px 30px;
        font-size: 14px;
      }
    
      a{
          color: $cor-branco;
          font-weight: 400;
      }
    }
}



#introducao{
    .introducao{
        display: flex;

        .introducao-informacao{
            margin-top: 190px;
            max-width: 800px;
            span{
                color: $cor-primary;
                font-size: 16px;
            }

            h1{
                color: $cor-branco;
                font-size: 64px;
                padding: 15px 0px;
                font-weight: 400;
                line-height: 81px;
                letter-spacing: -0.02em;
            }

            p{
                color: $cor-branco;
                font-size: 16px;
                margin-bottom: 50px;
                line-height: 20px;
                letter-spacing: -0.02em;
            }

            .introducao-botoes{
                display: flex;
                gap: 34px;
                margin-bottom: 150px;
            }

        }

       .introducao-imagem{
        margin-top: 100px;
       }
    }
}
