
.intro-bg{
    background-color: $cor-c11;
}

.introducao-bg{
    background-color: $cor-c11;
    box-shadow: inset 0 -80px #FCFCFC;
}

//============================= HEADER =============================

#header{
    .header{
        display: flex;
        align-items: center;
        gap: 240px;
    }
    
    #menu{
        display: flex;
        
      li{
        color: $cor-branco;
        padding: 40px 30px;
        font-size: 14px;
      }
    
      a{
          color: $cor-branco;
          font-weight: 400;
      }
    }
}

//============================= INTRODUCAO =============================
#introducao{
    .introducao{
        display: flex;

        .introducao-informacao{
            margin-top: 190px;
            max-width: 800px;
            span{
                color: $cor-primary;
                font-size: 16px;
            }

            h1{
                color: $cor-branco;
                font-size: 64px;
                padding: 15px 0px;
                font-weight: 400;
                line-height: 81px;
                letter-spacing: -0.02em;
            }

            p{
                color: $cor-branco;
                font-size: 16px;
                margin-bottom: 50px;
                line-height: 20px;
                letter-spacing: -0.02em;
            }

            .introducao-botoes{
                display: flex;
                gap: 34px;
                margin-bottom: 150px;
            }

        }

       .introducao-imagem{
        margin-top: 100px;
        position: relative;
        z-index: 3;
            .imagem-fundo{
                position: absolute;
                top: 70px;
                left: -140px;
                width: 600px;
                z-index: -1;
            }

        &::before{
            content: '';
            background-image: url('/assets/img/img-header/details-device-header.svg');
            background-repeat: no-repeat;
            position: absolute;
            top: 330px;
            width: 100%;
            height: 65px;
            left: 285px;
            z-index: -1;
        }
       }
    }
}


//============================= BENEFICIOS =============================

#beneficios{
    margin-top: 80px;

    .beneficios{
        display: flex;
        gap: 100px;
        align-items: center;

        .beneficios-chamada{
            h1{
                color: #070C17;
                font-weight: 400;
                font-size: 44px;
                line-height: 61px;
                letter-spacing: -0.02em;
                position: relative;

                &::before{
                    content: '';
                    position: absolute;
                    width: 64px;
                    height: 64px;
                    background: url('/assets/img/icons-beneficios/details-feito/traços.svg');
                    background-repeat: no-repeat;
                    right: -65px;
                    top: 15px;
                }

                &::after{
                    content: '';
                    position: absolute;
                    width: 135px;
                    height: 100px;
                    background: url('/assets/img/icons-beneficios/details-feito/circle.svg');
                    background-repeat: no-repeat;
                    right: 67px;
                    bottom: -25px;
                }
            }

            p{
                color: $cor-c8;
                font-weight: 500;
                font-size: 16px;
                line-height: 23px;
                letter-spacing: -0.02em;
                margin-top: 25px;
                margin-bottom: 30px;
            }

            .beneficios-icon{
                width: 68px;
                height: 10px;
            }
        }

        .beneficios-informacoes{
            display: flex;
            gap: 30px;

            .beneficios-info{
                background-color: $cor-branco;
                width: 380px;
                box-shadow: 0px 8px 16px rgba(41, 40, 45, 0.04);
                border-radius: 16px;

                img{
                    padding: 30px;
                }

                h3{
                    padding: 0px 25px 0px 30px;

                }

                p{
                    padding: 0px 25px 70px 30px;

                }
            }
        }
    }
}

#aulas{
    .aulas{
        margin-top: 160px;

        .chamada-aulas{
            text-align: center;
           

            p{
                margin-bottom: 20px;
                font-weight: 500;
                font-size: 18px;
                line-height: 23px;
                letter-spacing: -0.02em;
                color: $cor-c8;
                position: relative;

                &::before{
                    content: '';
                    position: absolute;
                    background: url('/assets/img/img-aulas/details.svg');
                    background-repeat: no-repeat;
                    width: 47px;
                    height: 5px;
                    top: 20px;
                    right: 530px;
                }
                
                   
            }

            h1{
                font-weight: 700;
                font-size: 48px;
                line-height: 61px;
                letter-spacing: -0.02em;
                color: $cor-primary;
                margin-bottom: 80px;
            }
        }

        .aulas-imagens{
            display: flex;
            gap: 30px;
            position: relative;
            z-index: 1;

            &::before{
                content: '';
                position: absolute;
                background: url('/assets/img/img-aulas/detail-background.svg');
                background-repeat: no-repeat;
                width: 1900px;
                height: 312px;
                top: 330px;
                left: -350px; 
                z-index: -1;
            }
        }

        .img-swapper-aulas{
            display: flex;
            justify-content: center;
            margin: 40px auto;
        }
    }
}